*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url("ZZZZZZZZZZZ.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; 
}
.grid{
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: 10% 80% 10%;
}
.bloc1{
    height: 10vh;
    width:10vw;
    grid-row-end: 2;
    grid-row-start: 1;
}
img{
    width: 10vw;
    height: 10vh;
}
.bloc2{
    background-color: #d5cec6;
    height: 10vh;
    grid-row-end: 2;
    grid-row-start: 1;
    box-shadow: 5px 10px 35px;
}
.parag{
    background-color: #d5cec6;
    align-items: center;
    width:50vw;
    height: 50vh;
    margin-left: 25vw;
    margin-top: 25vh;
    box-shadow: 20px 20px 45px black;
    text-align: center;
    font-size: 3vh;
    padding: 30%;     
}

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
.wrapper{
  margin-left: 14vh;
}
.wrapper .button{
  display: inline-block;
  height: 50px;
  width: 50px;
  float: left;
  margin: 0 5px;
  overflow: hidden;
  background: #535233;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  transition: all 0.3s ease-out;
  margin-top: 5vh;
}
.wrapper .button:hover{
  width: 170px;
}
.wrapper .button .icon{
  display: inline-block;
  height: 50px;
  width: 50px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1):hover .icon{
  background: #4267B2;
}
.wrapper .button:nth-child(2):hover .icon{
  background: #1DA1F2;
}
.wrapper .button:nth-child(3):hover .icon{
  background: rgb(214, 45, 125);
}
.wrapper .button:nth-child(4):hover .icon{
  background: #ff0000;
}

.wrapper .button .icon i{
  font-size: 20px;
  line-height: 60px;
  transition: all 0.3s ease-out;
  color: #d5cec6;
  
}
.wrapper .button:hover .icon i{
  color: #d5cec6;
}
.wrapper .button span{
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 20px;
  transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1) span{
  color: #4267B2;
}
.wrapper .button:nth-child(2) span{
  color: #1DA1F2;
}
.wrapper .button:nth-child(3) span{
  color: rgb(214, 45, 125);
}
.wrapper .button:nth-child(4) span{
  color: #ff0000;
}

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
h1{
    text-transform: uppercase;
    font-size: 60px;
    padding: 10%;
    text-align: center;
    margin-top: 50%;
    color: #d5cec6;
    margin-left: 10vw;
}
h1 span{
    position: relative;
}
.nav-links {
    display: flex;
    list-style: none;
    width: 50%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    margin-top: 2%;
    
}
.nav-links li a {
    color: #535233;
    text-decoration: none;
    font-size: 15px;
    
}
.logo{
    width: 10vw;
    height: 10vh;
    bottom: 50%;
}
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

  .img-slider{
    position: relative;
    width: 800px;
    height: 80vh;
    margin-top: 8vh;
    margin-left: 18vw;
  }
  
  .img-slider .slide{
    z-index: 1;
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0 50%);
    
  }
  
  .img-slider .slide.active{
    clip-path: circle(150% at 0 50%);
    transition: 2s;
    transition-property: clip-path;
  }
  
  .img-slider .slide img{
    z-index: 1;
    width: 100%;
    border-radius: 5px;
   
  }
  
  .img-slider .slide .info{
    position: absolute;
    top: 0;
    padding: 15px 30px;
  }
  
  .img-slider .slide .info h2{
    color: #fff;
    font-size: 45px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
  }
  
  .img-slider .navigation{
    z-index: 2;
    position: absolute;
    display: flex;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .img-slider .navigation .btn{
    background: rgba(255, 255, 255, 0.5);
    width: 12px;
    height: 12px;
    margin: 10px;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .img-slider .navigation .btn.active{
    background: #535233;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  }
  @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

.containe{
  margin-left: 30VW;
  margin-top: 18vh;
  max-width: 500px;
  background: #d5cec6;
  width: 800px;
  padding: 25px 40px 10px 40px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}
.containe .text{
  text-align: center;
  font-size: 35px;
  font-weight: 600;
  background: black;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.containe form{
  padding: 30px 0 0 0;
}
.containe form .form-row{
  display: flex;
  margin: 32px 0;
}
form .form-row .input-data{
  width: 100%;
  height: 40px;
  margin: 0 20px;
  position: relative;
}
form .form-row .textarea{
  height: 70px;
}
.input-data input,
.textarea textarea{
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  font-size: 17px;
  border-bottom: 2px solid rgba(0,0,0, 0.12);
  outline: none;
  background-color:#d5cec6;
  
}
.input-data input:focus ~ label, .textarea textarea:focus ~ label,
.input-data input:valid ~ label, .textarea textarea:valid ~ label{
  transform: translateY(-20px);
  font-size: 14px;
  color: #3498db;
}
.textarea textarea{
  resize: none;
  padding-top: 10px;
}
.input-data label{
  position: absolute;
  pointer-events: none;
  bottom: 10px;
  font-size: 16px;
  transition: all 0.3s ease;
}
.textarea label{
  width: 100%;
  bottom: 40px;
  background: #d5cec6;
  
}
.input-data .underline{
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 100%;
}
.input-data .underline:before{
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  background: #3498db;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}
.input-data input:focus ~ .underline:before,
.input-data input:valid ~ .underline:before,
.textarea textarea:focus ~ .underline:before,
.textarea textarea:valid ~ .underline:before{
  transform: scale(1);
}
.submit-btn .input-data{
  overflow: hidden;
  height: 45px!important;
  width: 25%!important;
}
.submit-btn .input-data .inner{
  height: 100%;
  width: 300%;
  position: absolute;
  left: -100%;
  background: -webkit-linear-gradient(right, #d5cec6, #535233, #7c7b5f, #474732);
  transition: all 0.4s;
}
.submit-btn .input-data:hover .inner{
  left: 0;
}
.submit-btn .input-data input{
  background: none;
  border: none;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  position: relative;
  z-index: 2;
}
@media (max-width: 700px) {
  .parag{
    
    font-size: 2vh;
       
}
.containe{
    width: 65vw;
    margin-right: 70vw;
    align-items: center;
}
  .containe .text{
    font-size: 30px;
  }
  .containe form{
    padding: 10px 0 0 0;
    
  }
  .containe form .form-row{
    display: block;
  }
  form .form-row .input-data{
    margin: 25px 0!important;
  }
  .submit-btn .input-data{
    width: 40%!important;
  }
}
  
  @media (max-width: 820px){
    .img-slider{
      width: 600px;
      height: 375px;
    }
  
    .img-slider .slide .info{
      padding: 10px 25px;
    }
  
    .img-slider .slide .info h2{
      font-size: 35px;
    }
  
    .img-slider .slide .info p{
      width: 70%;
      font-size: 15px;
    }
  
    .img-slider .navigation{
      bottom: 25px;
    }
  
    .img-slider .navigation .btn{
      width: 10px;
      height: 10px;
      margin: 8px;
    }
  }
  
  @media (max-width: 620px){
    .img-slider{
      width: 400px;
      height: 250px;
    }
  
    .img-slider .slide .info{
      padding: 10px 20px;
    }
  
    .img-slider .slide .info h2{
      font-size: 30px;
    }
  
    .img-slider .slide .info p{
      width: 80%;
      font-size: 13px;
    }
  
    .img-slider .navigation{
      bottom: 15px;
    }
  
    .img-slider .navigation .btn{
      width: 8px;
      height: 8px;
      margin: 6px;
    }
  }
  
  @media (max-width: 420px){
    .img-slider{
      width: 320px;
      height: 200px;
    }
  
    .img-slider .slide .info{
      padding: 5px 10px;
    }
  
    .img-slider .slide .info h2{
      font-size: 25px;
    }
  
    .img-slider .slide .info p{
      width: 90%;
      font-size: 11px;
    }
  
    .img-slider .navigation{
      bottom: 10px;
    }
  }
             
@media screen and (max-width: 800px) { 
    .line {
      width: 30px;
      height: 3px;
      background: #74723c;
      margin: 5px;
      
    }
    nav {
      position: relative;
    }
    .micon{
      position: absolute;
      cursor: pointer;
      right: 5%;
      top: 50%;
      transform: translate(-5%, -50%);
      z-index: 2;
      margin-top: 6%;
    }
  
    .nav-links {
      position: fixed;
      background: #d5cec6;
      height: 100vh;
      width: 100%;
      flex-direction: column;
      clip-path: circle(100px at 90% -10%);
      -webkit-clip-path: circle(100px at 90% -10%);
      transition: all 1s ease-out;
      pointer-events: none;
    }
    .nav-links.open {
      clip-path: circle(1000px at 90% -10%);
      -webkit-clip-path: circle(1000px at 90% -10%);
      pointer-events: all;
    }
    .nav-links li {
      opacity: 0;
    }
    .nav-links li a {
      font-size: 25px;
    }
    .nav-links li:nth-child(1) {
      transition: all 0.5s ease 0.2s;
    }
    .nav-links li:nth-child(2) {
      transition: all 0.5s ease 0.4s;
    }
    .nav-links li:nth-child(3) {
      transition: all 0.5s ease 0.6s;
    }
    li.fade {
      opacity: 1;
    }
  }